@import url();
:root{
--cor-de-fundo:#02010E;
--roxo:#A167DC;
--branco:#ffffff;
--botao-ativo:#AF85D8;
--botao-inativo:

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: ;
}
